{% extends "index.html" %}

{% block link %}
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/style.AddProduto.css')}}">
{% endblock %}

{% block body %}
    <div class="container">
        
        <h1>{{Titulo_add}}</h1>
        {%for id, produto in produtos.items()%}
        <p>{{id}} - {{produto}}</p>
        {%endfor%}
        <img src="{{url_for('static',filename = img_add1)}}" >
        <img src="{{url_for('static',filename = img_add2)}}" >
        <img src="{{url_for('static',filename = img_add3)}}" >

    </div>
    
{% endblock %}