{% extends 'index.html' %}
{% load static %}

{% block title %}Reservas{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/reservas.css' %}">
{% endblock %}

{% block body %}
<div class="container">
    <a href="{% url 'quartos' %}" class="btn-voltar">⮐ Voltar</a>

    <h1>Quartos Reservados</h1>

    <div class="cards-container">
        {% for quarto in quartos %}
            <div class="card">
                <img src="{{ quarto.img.url }}" alt="Imagem do Quarto">
                <div class="card-info">
                    <h2>Quarto {{ quarto.num_Quarto }} - {{ quarto.get_tipo_display }}</h2>
                    <p><strong>Estilo:</strong> {{ quarto.get_estilo_display }}</p>
                    <p><strong>Hóspedes:</strong> {{ quarto.qtd_Hospedes }}</p>
                    <p><strong>Valor:</strong> R$ {{ quarto.valor }}</p>
                    <p><strong>Status:</strong> Reservado</p>
                    <div class="descricao">
                        <p><strong>Descrição:</strong> {{ quarto.descricao }}</p>
                    </div>
                </div>
            </div>
        {% empty %}
            <p>Não há quartos reservados no momento.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}