<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionar Produtos</title>
</head>
<body>
    <h2>Add Prod</h2>
    <form action="/add_produto" method="post">
        <label for="Nome: ">Nome: </label>
        <input type="text" name="Nome"> <br> <br>

        <label for="Preço">Preço: </label>
        <input type="text" name="Preco"> <br> <br>

        <input type="submit" value="Registrar" >
    </form>
</body>
</html>